.cell {
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
  border: 3px solid;
  display: inline-block;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 8px;
}
.cell:hover {
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.5);
}
.cell:active {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}
.cell.blue {
  background-color: blue;
}
.cell.red {
  background-color: red;
}
.cell.yellow {
  background-color: yellow;
}
.cell.green {
  background-color: green;
}
.cell.lightgreen {
  background-color: lightgreen;
}
