.color{
  height:30px;
  width:30px;
  line-height: 30px;
  font-size: 12px;
  display:inline-block;
  border: 1px solid;
  border-radius: 3px;
}
.color.blue {
  background-color: blue;
}
.color.red {
  background-color: red;
}
.color.yellow {
  background-color: yellow;
}
.color.green {
  background-color: green;
}
.color.lightgreen {
  background-color: lightgreen;
}